* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: orange;
    margin-bottom: 300px;
}
ul {
    list-style-type: disc;
    text-decoration: none;
}
h1 {
    font-family: 'Times New Roman', Verdana, sans-serif;
    background-color: aliceblue;
    
}

.recipes {
    margin-left: 100px;
    margin-top: 55px;
}
.chapatis {
    background-color: rgb(88, 158, 219);
    padding: 10px 200px 270px 90px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border-style: solid;
    display: inline-block;
    position: fixed;
}
.rices {
    display: inline-block;
    background-color: rgb(88, 158, 219);
    padding: 10px 200px 270px 90px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 420px;
    border-radius: 5px;
    border-style: solid;    
}
.spaghettis {
    background-color: rgb(33, 121, 197);
    display: inline-block;
    padding: 10px 200px 270px 90px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 120px;
    border-radius: 5px;
    border-style: solid;
}
.chapatis .chaps{
    background-color: rgb(189, 207, 194);
    color: brown;
    text-align: right;
    text-decoration: none;
    margin-top: 120px;
    margin-left: -35px;
    padding: 5px;
    border-radius: 5px;
    position:fixed;
}
.rices a {
    position: fixed;
    margin-top: 120px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
}
.spaghettis a {
    position: fixed;
    margin-top: 120px;
    text-decoration: none;
    background-color: blueviolet;
    padding: 5px;
    border-radius: 10px;
    color: white;
}
.meals{
    display: inline-block;
    padding: 10px 0px 5px 35px;

}
img {
    display: inline-block;
    width: 380px;
    vertical-align: top;
    margin-left: 15px;
    margin-top: 5px;
}